@import '../scss/colors.scss';

.containerAbout {
    display: grid;
    grid-template-columns: 1fr;
    background-color: $secondaryColor;
    color: white;
    align-items: center;
    justify-items: center;
    padding: 0 6rem;
}


.aboutMeContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-flow: column;
    align-items: center;
    max-width: 100%;
    justify-items: center;
    border: 2px solid $primaryColor;
    border-radius: 20px;
    padding: 2rem;

    .aboutMeImage {
        max-width: 90%;
        border-radius: 20px;
    }

    .aboutMeText {
        display: grid;
        align-content: center;

        h2 {
            text-align: center;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 400;
        }

        .socialLinksContainer {
            display: grid;
            justify-content: center;
        }

    }

}

.aboutMeText > p {
    padding: 1rem 4rem;
}

@media (max-width: 900px) {


    .aboutMeImage {
        margin-top: 1rem;
        width: 50%;
    }

    .containerAbout {
        padding: 0 1rem;

    }

    .aboutMeContainer {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        padding: 1rem;
    }

    .aboutMeText {
        p {
            padding: 1rem;
        }

        h2 {
            padding-top: 1rem;
        }

    }
}