@import './colors';

.contactContainer {
    display: grid;
    padding: 2rem 6rem;
    max-width: 100%;
    justify-content: center;
    background-color: white;
}

.formContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    max-width: 100%;
    padding: 1rem;
    border-radius: 20px;

    h2 {
        color: $secondaryColor;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 2rem;
        font-size: 2rem;
    }

    p {
        color: $secondaryColor;
        // margin-bottom: 0.2rem;
    }

    input, .message {
        font-size: 1.2rem;
        width: 40vw;
        border-radius: 10px;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
    }

    .message {
        height: 8rem;
    }
}


.buttonSubmit {
    margin-top: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 1.2rem 6rem;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: $secondaryColor;
    transition: all 0.3s ease;

    p {
        color: $primaryColor;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-gap: 0.3rem;
        font-weight: 600;
    }

    i {
        font-size: 1.5rem;
    }

}

.buttonSubmit:hover {
    background-color: $primaryColor;
    border: 2px solid $secondaryColor;

    p {
        color: $secondaryColor;
    }
}

@media (max-width: 900px) {
    .contactContainer {
        input, .message {
            width: 80vw;
        }
    }
}