@import '../scss/colors';

.footerContainer {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 10vh;
    background-color: #0b1b2ce1;
    padding: 1rem;
    
    p { 
        font-size: 1rem;
        max-width: 100%;
        color: rgba(255, 255, 255, 0.925);
    }
}

@media (max-width: 900px) {
    .footerContainer {
        grid-template-columns: 1fr;
    
    }
}