.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    align-items: center;
    text-align: center;
    min-height: 90vh;
    max-width: 100%;
}

.mainText {
    color: white;
    font-size: 2rem;
    font-weight: 800;
}

.mainImage {
    max-width: 100%;
    min-height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;

    img {
        max-width: 60%;
        border-radius: 50%;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .mainContainer {
        grid-template-columns: 1fr;
    }
}