@import './colors.scss';

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    align-items: center;
    min-height: 100%;
    max-width: 100%;
    margin-top: 10vh;
}

.mainText {
    display: grid;
    color: white;
    max-width: 100%;
    align-items: center;
    justify-items: center;

    .bigText {
        text-transform: uppercase;
        padding: 0 2rem;
        padding-bottom: 1rem;
        font-size: 2.2rem;
        font-weight: 400;

        .bigTextGreen {
            color: $primaryColor;
        }
    }

    .description {
        text-align: center;
        font-size: 1rem;
        padding: 0 1rem;
        font-weight: 200;
    }
}

.mainImage {
    max-width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;

    img {
        bottom: 0;
        transform: rotateY(180deg);
        width: 100%;
    }
}

@media (max-width: 900px) {
    .mainText {
        padding-top: 3rem;

        .bigText {
            font-size: 1.6rem;
        }
    }

    .mainContainer {
        grid-template-columns: 1fr;
    }

    .mainContainer {
        margin-top: 20vh;
    }
}