@import './colors.scss';

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    align-items: center;
    min-height: 100%;
    max-width: 100%;
}

.mainText {
    display: grid;
    color: white;
    max-width: 100%;
    align-items: center;
    justify-items: center;

    .bigText {
        text-transform: uppercase;
        padding: 0 2rem;
        padding-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: 400;

        .bigTextGreen {
            color: $primaryColor;
        }
    }

    .description {
        text-align: center;
        font-size: 1rem;
        padding: 0 4rem;
        font-weight: 200;
    }

    .iconsContainer {
        display: grid;
        grid-auto-flow: column;
        max-width: 100%;
        padding-top: 1rem;
        grid-gap: 0.5rem;

        .iconsButton {
            cursor: pointer;
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            grid-gap: 0.2rem;
            font-size: 1rem;
            background-color: $primaryColor;
            color: black;
            border: none;
            border-radius: 20px;
            padding: 0.5rem;
        }
    }
}

.mainImage {
    max-width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;

    img {
        z-index: -1;
        bottom: 0;
        transform: rotateY(180deg);
        width: 100%;
    }
}

@media (max-width: 820px) {
    .mainText {
        padding-top: 3rem;
    }

    .mainContainer {
        grid-template-columns: 1fr;
        padding-top: 10vh;
    }
}