@import '../scss/colors.scss';

.containerProjects {
    display: grid;
    justify-content: center;
    width: 100%;
}

.projectsTitle {
    color: white;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 2rem;
}

.projectsContainer {
    justify-items: center;
    background-color: $secondaryColor;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 2rem;
}

.projectContainer {
    background-color: $primaryColor;
    height: 350px;
    width: 350px;
    max-width: 100%;
}

@media (max-width: 820px) {
    .projectsContainer {
        grid-template-columns: 1fr;
        padding: 2rem 0;
    }

    .projctContainer {
        width: 250px;
        height: 250px;
    }
}