@import '../scss/colors.scss';

.containerProjects {
    display: grid;
    justify-content: center;
    padding: 2rem 6rem;
}

.projectsTitle {
    color: white;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 2rem;
}

.projectsContainer {
    justify-items: center;
    background-color: $secondaryColor;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;
    padding: 2rem;
}

.projectContainer {
    background-color: $primaryColor;
    max-width: 100%;

    h2 {
        padding: 8rem 4rem;
    }
}

@media (max-width: 900px) {

    .containerProjects {
        padding: 1rem;
    }
    .projectsContainer {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .projctContainer {
        width: 250px;
        height: 250px;
    }
}