@import './colors.scss';


.servicesContainer {
    display: grid;
    grid-template-columns: auto auto;
    color: black;
    max-width: 100%;
    background-color: $secondaryColor;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.skillsTitle {
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem 4rem;
    
    p { 
        padding: 0.5rem 1rem;
        border: 2px solid $primaryColor;
        border-radius: 10px;
        padding-top: 0.5rem;
        text-align: center;
        font-size: 1rem;
    }
}

.titleContainer {
    display: grid;
    justify-content: center;
    align-items: center;
}

.skillsContainer {
    display: grid;
    grid-auto-flow: row;
}

.listContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-flow: row;
    justify-content: center;
    grid-gap: 1rem;
    max-width: 100%;
    overflow: hidden;
    padding: 2rem 0;
}

.skillContainer {
    padding: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
    border-radius: 20px;

    i {
        font-size: 5rem;
        color: $secondaryColor;
    }
}

@media (max-width: 900px) {
    .servicesContainer {
        grid-template-columns: auto;
        grid-auto-flow: row;
    }

    .skillsTitle {
        text-align: center;
        font-size: 2rem;
    }

    .listContainer {
        grid-template-columns: repeat(3, auto);
        grid-auto-flow: row;
        }
  
    .skillContainer {
            padding: 0.5rem;
    }
}

