@import './colors';

.thanksContainer {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: $secondaryColor;
    width: 100%;
    color: white;
    min-height: 100vh;
}

.textContainer {
    i {
        font-size: 10rem;
    }
}

.buttonContainer {
    display: grid;
    justify-items: center;
    margin-top: 1rem;
}

.backButton {
    text-decoration: none;
   
    cursor: pointer;
    text-transform: uppercase;
    justify-content: center;
    display: grid;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: $primaryColor;
    transition: all 0.3s ease;
    color: black;
    font-weight: 600;
}

.backButton:hover {
    background-color: $secondaryColor;
    border: 1px solid $primaryColor;
    color: $primaryColor;
}