@import "colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

html,
body {
  font-family: "Open Sans", sans-serif;
  // background-color: $primary-color;
  background-color: $secondary-color-dark;
}

h1,
h2 {
  // font-family: "Bebas Neue", cursive;
  font-family: "Anton", sans-serif;
}

h2 {
  text-align: left;
  font-size: 30pt;
  margin-bottom: 12px;
  color: $primary-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  line-height: 1.5;
}
