.heroContainer {
    min-height: 100vh;
    display: grid;
    align-content: center;
    justify-items: center;
    border-color: white;
    border: 10px white;
    text-align: center;
}

.heroCTA {
    .textoHeroCTA {
        font-size: 36pt;
        margin-bottom: 6px;
    }

    .heroApresentacao {
        display: none;
        background-color: #8450e0;
        width: fit-content;
        font-size: 18pt;
        padding: 5px 10px;
        color: white;
        border-radius: 10px;
    }

    .descricaoCTA {
        font-size: 14pt;
        margin-bottom: 14px;
        padding: 0 100px;
    }

    display: grid;
    align-content: center;
    justify-items: center;
}

.socialButtonsContainer {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: flex-start;
}

.socialButtons {
    border: 2px solid #8450e0;
    padding: 10px 20px;
    border-radius: 10px;
}

.socialButtons:hover {
    border: 2px solid black;
    background-color: #8450e0;
    color: white;
    rotate: -5deg;
}