@import 'colors.scss';

.homeContainer, .sobreMimContainer {
    background-color: $secondary-color;
    color: $text-color;
    padding: 0 128px;
    margin: 0 6px;
}

.homeContainerDark, .sobreMimContainerDark {
    background-color: $secondary-color-dark;
    color: $text-color-dark;
}

@media (max-width: 992px) {
    .homeContainer, .sobreMimContainer {
        padding: 0 12px;
    }
}

