@import 'colors.scss';

.navbar {
    background-color: $secondary-color-dark;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 128px;
    margin: 0 6px;
    border-top: 6px solid #8450e0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 60px;
    align-items: center;
}

.logo {
    height: 40px;
    width: 100%;
    cursor: pointer;
}

.logo:hover {
    rotate: -5deg;
}

.menuLista {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    grid-gap: 0 1rem;
    font-size: 14pt;
}

.menuLinks:hover {
    background-color: #8550e0b7;
    rotate: -5deg;
}

@media (max-width: 992px) {
    .navbar {
        padding: 0 12px;
    }

    .menuLista {
        display: none;
    }
}