.sobreMimContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    grid-gap: 12px;
}

.heroImagemContainer {
    border-radius: 20px;
    max-width: 30vw;
}

.heroImagem {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.quemSouEu {
    display: grid;
    align-content: flex-start;
    padding: 36px;
    background-color: #3b3b3b;
    color: white;

    p {
        margin-bottom: 12px;
        font-size: 12pt;
    }
}

.minhasHabilidades {
    display: grid;
    grid-template-columns: repeat(10, auto);
    align-content: flex-start;
    justify-content: flex-start;
    grid-gap: 10px;
}

.skillIcon {
    // background-color: #8450e0;
    height: 80px;
    font-size: 60pt;
}