@import "./colors.scss";
.sobreMimContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 12px;
  padding-top: 32px;
  //   min-height: calc(100svh - 80px);
}

.heroImagemContainer {
  display: grid;
  justify-items: start;
  align-items: center;
  border-radius: 20px;
  // animation: deslizar 1s ease-in;
}

.heroImagem {
  max-width: 432px;
  max-height: 540px;
}

.quemSouEu {
  display: grid;
  align-content: center;
  padding: 36px;
  border-radius: 20px;
  // background-color: rgb(41, 41, 41);
  border-radius: 20px;
  // color: white;
  // animation: deslizar2 1s ease-in;

  h2 {
    text-align: left;
    font-size: 30pt;
    margin-bottom: 12px;
    color: $primary-color;
  }

  h2:nth-child(2) {
    background-color: red;
    text-align: right;
  }

  p {
    margin-bottom: 24px;
    font-size: 14pt;
  }
}

.minhasHabilidades {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  text-align: center;
  grid-gap: 14px;
}

.skillIcon {
  background-color: #343434;
  border-radius: 10px;
  padding: 10px 0;
  font-size: 18pt;
}

@media (max-width: 992px) {
  .sobreMimContainer {
    grid-template-columns: 1fr;
  }

  .heroImagemContainer {
    display: grid;
  }

  .heroImagem {
    max-width: 50vw;
  }

  .quemSouEu {
    padding: 0 8px;
  }
}

// @keyframes deslizar {
//     0%
//     {
//         opacity: 0;
//         transform: translateX(-50px);
//     }
//     100%
//     {
//         opacity: 1;
//         transform: translateX(0);
//     }
// }

// @keyframes deslizar2 {
//     0%
//     {
//         opacity: 0;
//         transform: translateX(50px);
//     }
//     100%
//     {
//         opacity: 1;
//         transform: translateX(0);
//     }
// }
