.sobreMimContainer {
    display: grid;
    min-height: 100vh;
    // background-color: #000000;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.quemSouEu {
    display: grid;
    align-content: flex-start;
    font-size: 14pt;

    h2 {
        text-align: center;
        margin-bottom: 12px;
        font-size: 24pt;
        padding: 10px 0;
    }

}

.minhasHabilidades {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: flex-start;
    justify-content: center;
    grid-gap: 10px;
}

.skillIcon {
    background-color: #8450e0;
    height: 200px;
}